@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Code">
        <span>Select File:</span>
        <input type="file" name="postedFiles" multiple />
        <input type="submit" value="Upload" />
        <br />
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
        <a href="" target="_blank" class="btn btn-primary" style="margin-top:20px;">Download Zip</a>

    </form>

    <a asp-area="" asp-controller="Home" asp-route-id="@ViewBag.ID" asp-action="Download">Download</a>
    <a href="../DownloadZipFile/" target="_blank" class="btn btn-primary" style="margin-top:20px;">Download Zip</a>


</body>
</html>