@model UNFHackAThon.Models.ViewModels.IndexViewModel


<br />

<br />
<br />

<div class="backgroundWhite container">

    @foreach (var competition in Model.Competition)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.CompetitionItem.Where(u=>u.Competition.Name.Equals(competition.Name))" />
        </div>
    }
</div>

